<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus facilis rerum placeat totam neque, quibusdam est quos voluptatem porro veritatis fuga. Adipisci quam laboriosam dolorum temporibus, obcaecati sunt! Consequatur, harum?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus facilis rerum placeat totam neque, quibusdam est quos voluptatem porro veritatis fuga. Adipisci quam laboriosam dolorum temporibus, obcaecati sunt! Consequatur, harum?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus facilis rerum placeat totam neque, quibusdam est quos voluptatem porro veritatis fuga. Adipisci quam laboriosam dolorum temporibus, obcaecati sunt! Consequatur, harum?</p> 
  </div>
  <%-include('./partials/footer.ejs') %>
</body>
</html>